# Assignment 1: Data Exploration

This is submission for Assignment 1 for student s3879312

Analyzing the [Stack Overflow Developer Survey](https://insights.stackoverflow.com/survey) Results 2021 dataset.


## Hypothesis:

1. Woman in Tech involves more in 2021?
2. The higher years of code the higher the compensation?
3. The compensation gaps between women and men are huge?
4. Do underrepresented countries in the survey like Vietnam tend to have less gender disparity in the Tech community?
5. Higher education to get a higher commission?
6. How does frequency participation in other online platforms affect commission?
7. What are the most common languages used by among developers?
8. What are the most common jobs among respondents?
9. What are the most common languages among respondents who work in fields related to data science?
10. What are the most common languages used by developers in Vietnam?
11. Most of the respondents are also a member in other online platforms?
12. Percentages of men higher than women who are responded to this survey are narrow?
13. The country has the highest yearly compesation is the USA?

# ðŸ’¾ TASK 1.8 DATA PREPARATION

### Libraries I'll use:

In [1]:
# import libraries general libraries

# work with data in tabular representation
import pandas as pd 
# round the data in the correlation matrix
import numpy as np

# Modules for data visualization
import seaborn as sns
import matplotlib.pyplot as plt 
import plotly.graph_objects as go 
import plotly.express as px

from plotly.subplots import make_subplots
from plotly.offline import init_notebook_mode, iplot, plot #iplot() = plots the figure(fig) that is created by data and layout


# word cloud library
from wordcloud import WordCloud

pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

plt.rcParams['figure.figsize'] = [6, 6]

# Ensure that our plots are shown and embedded within the Jupyter notebook itself. Without this command, sometimes plots may show up in pop-up windows
%matplotlib inline

# run a python file 
%run assignment1.py

# overwrite the style of all the matplotlib graphs
sns.set()

# ignore DeprecationWarning Eror Messages
import warnings
warnings.filterwarnings('ignore')

In [2]:
# check version of Numpy (to create a requirements.txt)
np.__version__

'1.20.1'

In [3]:
# check version of Pandas (to create a requirements.txt)
pd.__version__

'1.3.4'

In [4]:
# import main dataframe
survey_public = pd.read_csv('Data/survey_data_cleaned.csv', sep=',')

# print out first 3 lines of the dataframe
style(survey_public.head(3))

`survey_question` dataframe below a list of the questions and their options that were asked in the survey, provided by whoever wants the analysis. I read a seperate CSV file to reference this info that I can look at while working.

In [5]:
# This is for checking the columns in the above dataframe (survey_public) meaning, make qname become index column
survey_question = pd.read_csv('Data/survey_results_schema.csv', sep=',', index_col='qname')

#remove the top unsued rows in the questions schema
survey_question = survey_question.iloc[3:,:]

# print out first 10 lines of the dataframe
survey_question.head(3)

,qid,question,force_resp,type,selector
qname,,,,,
MainBranch,QID2,Which of the following options best describes ...,True,MC,SAVR
Employment,QID24,Which of the following best describes your cur...,False,MC,MAVR
Country,QID6,"Where do you live? <span style=""font-weight: b...",True,MC,DL

I have specified the rows to select and in the next line, I have retrieved those rows using the `loc` keyword. The indices of rows loc to get the specified rows that explain the associate with the columns' names in the `survey_public`

In [6]:
# method to find the number of columns is to use .shape, which prints out the full dimensions of the data:
print(f'Dataframe contain {survey_public.shape[0]} records and {survey_public.shape[1]} columns.') # 83439 rows and 48 columns

Dataframe contain 83438 records and 42 columns.

# Task 1.8: Categorical data
Encode categorical data into digits to fit and evaluate model.

#### Few reasons why categorical values can be difficult to deal with are:

- High cardinality (Features with a large number of levels)
- Algebraic Machine Learning models, whose input must be numerical. (Hence categorical must be transformed into numbers before applying a learning algorithm to them)
- It is difficult for an ML model to differentiate between highly different levels. For example, for an ML model, `20 to 99 employees`, `100 to 499 employees`, and `10,000 or more employees` are just **3 different levels**.

I'll work with a small part of the entire data frame to demonstrate different encoding techniques and which one I choose for this project.

### 1.8.1 Label encoding - Ordinal Values

By converting each value in the column into a number. I use this encoding technique when the categorical feature is ordinal, **ordered categories**. Hence encoding should reflect the sequence. 

In Label encoding, each label is converted into an integer value and these integers are always between 0 and 1.

#### a. One way of achieving this is by using pandas `cat.codes` on my categorical column.

Since this method requires me to convert string data type columns into category data types, I'll use the second method as my main

In [7]:
# cast the column into category data types
survey_public['EdLevel'] = survey_public['EdLevel'].astype("category")

# create a copy of the main dataframe
survey_public_lc_example = survey_public.copy()

# label encoding
survey_public_lc_example['EdLevel'] = survey_public_lc_example['EdLevel'].cat.codes

# print out 3 sample rows of the dataframe
style(survey_public_lc_example.sample(3))

#### b. Using `scikit-learn`'s - `LabelEncoder` or `category_encoders` - I use this 

I see that I just had to use the `OrdinalEncoder()` call on my series, and it automatically makes new columns for each unique value in my series and fills them with number level as appropriate.

**Note:** I don't include `EdLevel` because I want to explain it explicitly later using another method**

In [8]:
!pip install category_encoders --quiet
import category_encoders as ce

# ordinal columns using OrdinalEncoder
cols_lc = ['Age1stCode', 'OrgSize', 'SOVisitFreq', 'SOPartFreq','SurveyLength','SurveyEase', 'Age', 'SOVisitFreq']

encoder = ce.OrdinalEncoder(cols=cols_lc,return_df=True)
# create an encoded dataframe
survey_public_encoded = survey_public.copy()

# transform on the encoded dataframe
survey_public_encoded = encoder.fit_transform(survey_public_encoded)

# print out random 3 sample rows 
style(survey_public_encoded.sample(3))

## 1.8.2 One-hot encoding - Nominal Values

#### a. using `scikit-learn`'s `LabelBinarizer` and `OneHotEncoder` or even with `category_encoders`: 
 
While one-hot encoding solves the problem of unequal weights given to categories within a feature, which is **not useful when there are many categories**, as that will result in the formation of as many new columns, which can result in the curse of dimensionality.

The concept of the **curse of dimensionality** discusses that in high-dimensional spaces some things just **stop working** properly.

**Note: I encountered "MemoryError: Unable to allocate 3.07 GiB for an array with shape (28690, 28690) and data type int32" which I could not fix by using Python 64 or casting my data type into `np.uint8`. This issue possibly resolved if I update my hardware or use distributed framework like Spark. These options are not available to me; therefore, I manually encode some of the categorical columns that needed for my further analysis by using `get_dummies()`**

In [9]:
import category_encoders as ce

cols_one_hot = ['MainBranch', 'Employment', 'OpSys', 'SOAccount', 'SOComm', 'NEWOtherComms', 'Trans', 'LearnCode', 'DevType', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith', 
 'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith', 'PlatformWantToWorkWith', 'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
 'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith', 
 'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'NEWStuck', 'NEWSOSites', 'Gender', 
 'Sexuality', 'Accessibility', 'MentalHealth']

# Loop through columns have option 'prefer not to say' and fill null values with that value
for col in cols_one_hot:
    survey_public[col] = survey_public[col].astype(np.uint8, errors='ignore')

# one hot encoder for nominal columns that contain few categories
encoder=ce.OneHotEncoder(cols=cols_one_hot,handle_unknown='return_nan',return_df=True,use_cat_names=True)
survey_public_encoded = encoder.fit_transform(survey_public_encoded)

# Print out 3 sample rows
style(survey_public_encoded.sample(3))

MemoryError: Unable to allocate 5.36 GiB for an array with shape (8626, 83438) and data type float64

### b. Dummy Variables

This encoding technique is used when the features are nominal - **no order**.  For example, in this dataset, the column `LanguageHaveWorkedWith` is categorical, but I can not arrange them in a sequence.

Dummy variables are created to deal with the categorical variables. Dummy variables will turn the categories per variable into its own binary identifier.

#### For columns with semi comma as separator

+ I create a dummies in Pandas

The `LanguageHaveWorkedWith` has one column for each option that can be selected as a response. If a respondent has chosen an option, the corresponding column's value is `1`. Otherwise, it is `0`. If the respondents chose several options, they are separated by `;` which I will use `.get_dummies(sep=';')` to split them into distinct columns. [Each string in Series is split by sep and returned as a DataFrame of dummy/indicator variables](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.get_dummies.html)

**Note:** As Roelpi [mentioned in his blog](https://www.roelpeters.be/split-column-values-on-separator-create-dummies-pandas/) this method would lead to **data leakage** by creating features out of categories that are not in my training data. So if I do further Machine Learning on this encoded data set, I would filter the columns to only contain features from the training data.

In [10]:
survey_question.loc['Accessibility']['question']

'Which of the following describe you, if any? Please check all that apply. '

In [11]:
# nominal columns that are separated values by semi commas
sep_semicomma_cols = ['LearnCode', 'DevType', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith', 
 'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith', 'PlatformWantToWorkWith', 'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
 'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith', 
 'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'NEWStuck', 'NEWSOSites', 'Gender', 
 'Sexuality', 'Accessibility', 'MentalHealth']

# Convert categorical variable into dummy variables and add a prefix to the features

LearnCode = survey_public.copy()
LearnCode = survey_public['LearnCode'].str.get_dummies(sep=';').rename(lambda x: 'LearnCode_' + x, axis='columns')

DevType = survey_public.copy()
DevType = survey_public['DevType'].str.get_dummies(sep=';').rename(lambda x: 'DevType_' + x, axis='columns')

LanguageHaveWorkedWith = survey_public.copy()
LanguageHaveWorkedWith = survey_public['LanguageHaveWorkedWith'].str.get_dummies(sep=';').rename(lambda x: 'LanguageHaveWorkedWith_' + x, axis='columns')

LanguageWantToWorkWith = survey_public.copy()
LanguageWantToWorkWith = survey_public['LanguageWantToWorkWith'].str.get_dummies(sep=';').rename(lambda x: 'LanguageWantToWorkWith_' + x, axis='columns')

DatabaseHaveWorkedWith = survey_public.copy()
DatabaseHaveWorkedWith = survey_public['DatabaseHaveWorkedWith'].str.get_dummies(sep=';').rename(lambda x: 'DatabaseHaveWorkedWith_' + x, axis='columns')

DatabaseWantToWorkWith = survey_public.copy()
DatabaseWantToWorkWith = survey_public['DatabaseWantToWorkWith'].str.get_dummies(sep=';').rename(lambda x: 'DatabaseWantToWorkWith_' + x, axis='columns')

PlatformHaveWorkedWith = survey_public.copy()
PlatformHaveWorkedWith = survey_public['PlatformHaveWorkedWith'].str.get_dummies(sep=';').rename(lambda x: 'PlatformHaveWorkedWith_' + x, axis='columns')

PlatformWantToWorkWith = survey_public.copy()
PlatformWantToWorkWith = survey_public['PlatformWantToWorkWith'].str.get_dummies(sep=';').rename(lambda x: 'PlatformWantToWorkWith_' + x, axis='columns')

WebframeHaveWorkedWith = survey_public.copy()
WebframeHaveWorkedWith = survey_public['WebframeHaveWorkedWith'].str.get_dummies(sep=';').rename(lambda x: 'WebframeHaveWorkedWith_' + x, axis='columns')

WebframeWantToWorkWith = survey_public.copy()
WebframeWantToWorkWith = survey_public['WebframeWantToWorkWith'].str.get_dummies(sep=';').rename(lambda x: 'WebframeWantToWorkWith_' + x, axis='columns')

MiscTechHaveWorkedWith = survey_public.copy()
MiscTechHaveWorkedWith = survey_public['MiscTechHaveWorkedWith'].str.get_dummies(sep=';').rename(lambda x: 'MiscTechHaveWorkedWith_' + x, axis='columns')

MiscTechWantToWorkWith = survey_public.copy()
MiscTechWantToWorkWith = survey_public['MiscTechWantToWorkWith'].str.get_dummies(sep=';').rename(lambda x: 'MiscTechWantToWorkWith_' + x, axis='columns')

ToolsTechHaveWorkedWith = survey_public.copy()
ToolsTechHaveWorkedWith = survey_public['ToolsTechHaveWorkedWith'].str.get_dummies(sep=';').rename(lambda x: 'ToolsTechHaveWorkedWith_' + x, axis='columns')

ToolsTechWantToWorkWith = survey_public.copy()
ToolsTechWantToWorkWith = survey_public['ToolsTechWantToWorkWith'].str.get_dummies(sep=';').rename(lambda x: 'ToolsTechWantToWorkWith_' + x, axis='columns')

NEWCollabToolsHaveWorkedWith = survey_public.copy()
NEWCollabToolsHaveWorkedWith = survey_public['NEWCollabToolsHaveWorkedWith'].str.get_dummies(sep=';').rename(lambda x: 'NEWCollabToolsHaveWorkedWith_' + x, axis='columns')

NEWCollabToolsWantToWorkWith = survey_public.copy()
NEWCollabToolsWantToWorkWith = survey_public['NEWCollabToolsWantToWorkWith'].str.get_dummies(sep=';').rename(lambda x: 'NEWCollabToolsWantToWorkWith_' + x, axis='columns')

NEWStuck = survey_public.copy()
NEWStuck = survey_public['NEWStuck'].str.get_dummies(sep=';').rename(lambda x: 'NEWStuck_' + x, axis='columns')

NEWSOSites = survey_public.copy()
NEWSOSites = survey_public['NEWSOSites'].str.get_dummies(sep=';').rename(lambda x: 'NEWSOSites_' + x, axis='columns')

Gender = survey_public.copy()
Gender = survey_public['Gender'].str.get_dummies(sep=';').rename(lambda x: 'Gender_' + x, axis='columns')

Sexuality = survey_public.copy()
Sexuality = survey_public['Sexuality'].str.get_dummies(sep=';').rename(lambda x: 'Sexuality_' + x, axis='columns')

Accessibility = survey_public.copy()
Accessibility = survey_public['Accessibility'].str.get_dummies(sep=';').rename(lambda x: 'Accessibility_' + x, axis='columns')

MentalHealth = survey_public.copy()
MentalHealth = survey_public['MentalHealth'].str.get_dummies(sep=';').rename(lambda x: 'MentalHealth_' + x, axis='columns')

In [12]:
style(MentalHealth.head(3))

In [13]:
cols_no_sep_dummy = ['MainBranch', 'Employment', 'OpSys', 'SOAccount', 'SOComm', 'NEWOtherComms', 'Trans']
survey_public_encoded = pd.get_dummies(data=survey_public_encoded, columns=cols_no_sep_dummy)
style(survey_public_encoded.sample(3))

## 1.8.3 Binary Encoding

+ This is a combination of **one-hot encoding and Hash encoding**. In this encoding scheme, the categorical feature is first converted into numerical using an ordinal encoder. Then the numbers are transformed into a binary number. After that binary value is split into different columns. This results in **fewer columns compared to one-hot encoding.**

Binary encoding works well when there are a **high number of categories**. For example, the 2 `Country` and `Ethnicity` columns in my dataset.  

You must wonder why don't we stop after the ordinal encoding part itself, or why is a need for having to convert them into their binary equivalent only to further make columns. Here's one reason why, 

- When our **categorical column is not ordinal, and the number of categories is numerous, we can not apply only Label Encoding**, as that will lead to poor decision-making of our model. Unlike the case of ordinal columns. Having one-fourth of the total number of categories as columns in the dataframe can help in better decision-making of our model.  

Once again I have used the `category_encoders` library and its `.BinaryEncoder` function to achieve this.

**Binary encoding is a memory-efficient encoding scheme as it uses fewer features than one-hot encoding. Further, It reduces the curse of dimensionality for data with high cardinality.**

In [14]:
# columns have high number of categories
cols_binary = ['Country', 'Ethnicity']

# perform binary encoding
encoder = ce.BinaryEncoder(cols=cols_binary)
survey_public_encoded = encoder.fit_transform(survey_public_encoded)

# print out random 3 sample rows
style(survey_public_encoded.sample(3))

## 1.8.4 Replacing Values - For All Type of Categorical Values

This is one of the most basic approaches and very straightforward to implement. We can just replace the categories with the desired numbers by putting them all together. This can easily be done with the `replace()` function in pandas. The idea is that we have the liberty to choose whatever numbers we want to assign to the categories according to the business use case. 

We first create a dictionary that will contain mapping numbers(i.e the replacement) for the categories in our category column.

  **I will apply this encoding technique to the `'EdLevel'` column of our dataframe:**
The reason I have picked up the `OpSys` column is because it has a lower  number of categories. Which is why mapping is possible via a hard coded dictionary. When category count is high, typing out each mapping is not possible, which is why I cant use this technique with several categories.

In [15]:
replace_map = {'EdLevel': {'primary/elementary school': 1, 'secondary school': 2, 'college/university but no degree': 3, 'associate degree': 4, 'bachelorâ€™s degree': 5, 'masterâ€™s degree': 6, 'professional degree': 7, 'other doctoral degree': 8, 'something else': 9}}

# print out to see the 'EdLevel' column encoded as the mapped numbers in the dataframe above.
survey_public_encoded.replace(replace_map, inplace=True)

# print out sample 3 rows
style(survey_public_encoded.sample(3))

# [Merging multiple of encoded data frames](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)

In [16]:
# concat multiple data frames column-wise
encoded_data_frames = [survey_public_encoded, LearnCode, DevType, LanguageHaveWorkedWith, LanguageWantToWorkWith, 
                       DatabaseHaveWorkedWith, DatabaseWantToWorkWith, PlatformHaveWorkedWith, PlatformWantToWorkWith, 
                       WebframeHaveWorkedWith, WebframeWantToWorkWith, MiscTechHaveWorkedWith, MiscTechWantToWorkWith, 
                       ToolsTechHaveWorkedWith, ToolsTechWantToWorkWith, NEWCollabToolsHaveWorkedWith, 
                       NEWCollabToolsWantToWorkWith, NEWStuck, NEWSOSites, Gender, Sexuality, Accessibility, MentalHealth]
encoded_data = pd.concat(encoded_data_frames, axis=1)
style(encoded_data.sample(3))

In [17]:
# Deleted original form of already encoded columns, all categorical columns now sould all be in numeric
encoded_data.drop(sep_semicomma_cols, axis=1, inplace=True)
style(encoded_data.sample(3))

### WRITING DATA BACK TO FILES
After completing your analysis and adding new columns, I write the results back to a file and get that data to visualize on Dash App. Otherwise, the data will be lost when the Jupyter Lab shuts down.

In [ ]:
# To write the data from the data frame into a file, use the to_csv function.
encoded_data.to_csv('Data/encoded_data.csv', index=False)
encoded_data.to_csv('Data/encoded_data.csv', index=False)
encoded_data.to_csv('Data/encoded_data.csv', index=False)

credit: tnathu

# References
+ [Merge multiple dataframes without common columns](https://stackoverflow.com/questions/60341348/merge-multiple-dataframes-without-common-columns)
- [Other encoding techniques with category_encoder](https://contrib.scikit-learn.org/category_encoders/)
- [Categorical data with big data using pyspark](https://towardsdatascience.com/feature-encoding-with-spark-2-3-0-part-1-9ede45562740)
- [More on Categorical_encoding](https://www.analyticsvidhya.com/blog/2020/08/types-of-categorical-data-encoding/)